*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    overflow: hidden;
}

body{
    display: flex;
    height:100vh;
    justify-content:center;
    align-items:center;
    padding: 10px;
    background: linear-gradient(135deg, #71b731,#9b59b6);
}

.container{
    max-width: 350px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.title{
    font-size:25px ;
    font-weight: 500;
    position: relative;
}

.title::before{
    content:'';
    position: absolute;
    left:0;
    bottom: 0;
    height: 3px;
    width: 27px;
    background: red;
    border-radius: 10%;
}

.user-details{
    line-height: 185%;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding-top: 5%;
}

.input-box{
    margin-bottom: 15px;
    width: 100%;
    flex-wrap:wrap;
}

.details{
    font-weight: 500;
    margin-bottom: 5px;
}
.input-box input{
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left:15px ;
    font-size: 14px;
}

.button{
    line-height: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
    background-color: black;
    border:none;
    color: whitesmoke;
    padding: 1%; 
}

.button:hover{
    color: cyan;
}

.ancher{
    text-align: center;
    padding-top: 10px;
    font-size: 12px;
}

@media (max-width: 584px){
    .container{
        max-width:100%;
    }
    .input-box{
        margin-bottom:15px;
        width: 100%;
    }
}